<%= form_for(@recipe, html: { multipart: true }) do |f| %>
  <% if @recipe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

      <ul>
      <% @recipe.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :wroted_by %><br>
    <%= f.text_field :wroted_by %>
  </div>
  <div class="field">
    <%= f.label :howtomake %><br>
    <%= f.text_area :howtomake %>
  </div>
  <div class="field">
    <%= f.label :image %><br>
    <%= image_tag @recipe.image.url(:medium) %>
    <%= f.file_field :image %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
