%p#notice= notice

.show_recipe
  %h1= @recipe.name

  .wroted_by
    投稿者: #{@recipe.wroted_by}

  .recipe-image
    = image_tag @recipe.image.url(:medium)

  %h2 作り方

  .recipe-howtomake
    = simple_format @recipe.howtomake

  .edit-recipe
    &gt;
    = link_to '編集', edit_recipe_path(@recipe)
  .recipe-to-back
    &gt;
    = link_to 'レシピ一覧へ', recipes_path
